.header {
    display: grid;
    grid-area: header;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(231,210,18,1) 48%, rgba(228,255,0,1) 65%);
    color: black;
    width:100%;
    position: relative;
}

.header img {
    width: 50px;
    margin-top: 5px;
    margin-left: 5px;
}

.loginBlock{
    position: relative;
    float: right;
}


.loginBlock a {
    color: black;
}