.dialogs{
    min-height: 465px;
    display:grid ;


    grid-template-columns: 2fr 10fr;

    /*grid-template-rows: 60px 1fr;*/
    grid-template-areas:
    'contact message'
    'contact textarea';


    text-decoration: none;
   /* background-image: url("./namak.png");
    background-size : 100%;*/
}
.contacts{
    display: grid;
    grid-area: contact ;

    color : SteelBlue;
    padding: 10px;
    text-decoration: none;

}

.contact{

    text-decoration: none;
    }

.contact.active{
    color:orangered;
    font-weight: bold;
    font-size: 20px;
    /*
    text-decoration: none;
    */

}

.messages{
    display: grid;
    grid-area: message;

    padding:15px;
    color: salmon;
    text-decoration: none;



}

.message{

    text-decoration: none;
}

.textarea{
    display: grid;
    grid-area: textarea;
    flex: 0 0 auto;
    /* position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;*/
}