.dialogs{
    min-height: 465px;
    display:grid ;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
    'contact message'
    'contact textarea';

    text-decoration: none;

}
.contacts{
    display: grid;
    grid-area: contact ;

    color : SteelBlue;
    padding: 10px;
    text-decoration: none;

}

.contact{

    text-decoration: none;
    }

.contact.active{
    color:purple;
    font-weight: bold;
    font-size: 20px;

}

.messages{
    display: grid;
    grid-area: message;

    padding:10px;
    color: blue;

    font-family: Georgia, serif;
    font-size: 15px;
    letter-spacing: 0.4px;
    word-spacing: 2.2px;

    font-weight: normal;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: normal;
    text-transform: none;


}

.message{

    text-decoration: none;
}

.textarea{
    display: grid;
    grid-area: textarea;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
}

.send {
    width: 80px;
    height: 40px;

    background: #d6eaf8;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 10px 10px;
    margin: 10px 0;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 100% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;


    background-position: right center;
}

